{{ partial "header.html" . }}
<main class="content" role="main">
    <div class="container mt-3">
        <div class="card mb-3">
            {{ range (.Site.RegularPages.GroupByDate "2006") }}
            <h3 class="m-3">{{ .Key }}</h3>
            <ul class="archive-list ml-3 mr-1">
                {{ range (where .Pages "Type" "post") }}
                <li class="my-2">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ partial "month_day.html" . }}
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</main>

{{ partial "footer.html" . }}